# Ignore the private key file
rdrama_auth_token

# Ignore notes
notes.txt

# Ignore stored data
stored_posts.npy
images_ds/

# Ignore common Python files
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
*.venv
.env
.venv
.idea/